/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: aqua;
}
.title{
    font-size: 14px;
    color: white;
}
span{
    font-size: 12px;
    color: white;
}
h2{ 
    color: white;
    font-size: 30px;
    padding-top: 80px;
}
/* regole nav-left */
#container {
    width: 100%;
    height: calc( 100vh - 100px );
    display: flex;
}
#Spotify-logo{
    width: 60%;
}
    nav {
    width: 300px;
    height: 100%;
    background-color: #000;
    padding: 20px;
    color: #fff
}

nav ul  {
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
}

/* regole main */
main {
    position: relative;
    width: calc( 100% - 300px );
    height: 100%;
}

#upgrade { 
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 25px 10px;
    background-color: #080b12dc;
    text-align: right;
}
button{
    color: white;
    background-color: #080b12dc;
    border-radius: 20px;
    padding: 10px 30px;
    border: 2px solid white;
}

#album {
    background-color: #141922;
    height: 100%;
    padding-top: 110px;
    overflow: auto;
    color: red;
}
/* album selection regole */
.album-action{
    display: flex;
    width: 100%;
}
.album-action ul{
    display: flex;
    list-style: none;
    color: #5e749b;
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
  }
#lime-underline{
    border-bottom: 2px solid lime;
}

.album-selection{
    padding-left: 20px;
}
.row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.song{
    width: calc(100%/6 - 20px);
}

#metal{
    width: 100%;
}
#stranger{
    width: 100%;
}
#quiet{
    width: 100%;
}
#split{
    width: 100%;
}
#cure{
    width: 100%;
}
#sinister{
    width: 100%;
}

.img-song{
    padding: 20px 0;
}
.song-text{
    text-align: center;
    
}
/* regole created section */
.created-selection{
    padding-left: 20px;
}
.created-selection h2{ 
    color: white;
    font-size: 30px;
    padding-top: 80px;
}
.row-created{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.song-created{
    width: calc(100%/6 - 20px);
}

#radar{
    width: 100%;
}
#mix{
    width: 100%;

}

.img-song{
    padding: 20px 0;
}
.song-text{
    text-align: center;
    
}
#youg{
    border-radius: 50%;
    width: 100%;
}
#einaudi{
    border-radius: 50%;
    width: 100%;
}





/* regole Footer */
footer {

    height: 100px;
    background: #282828;
    display: flex;
    justify-content: space-between;
}

footer>div {
    height: 100%;
    color: #fff;
}

/* Debug */
#upgrade {
    border: yellow solid 3px;
}

#album {
    border: rgb(0, 255, 30) solid 3px
}

main {
    border: 2px solid violet;
}

footer>div {
    border: 1px dotted yellow;
    width: 200px;
}