/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(248, 248, 248);
}
.title{
    font-size: 14px;
    color: white;
}
span{
    font-size: 12px;
    color: white;
}
span:hover{
    text-decoration: underline;
    cursor: pointer;
}
h2{ 
    color: white;
    font-size: 30px;
    padding-top: 80px;
}
h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
h5:hover{
    text-decoration: underline;
    cursor: pointer;
}
li{
    color:#4f4f4f;;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* regole nav-left */
.nav-responsive{
    display: none;
}
#container {
    width: 100%;
    height: calc( 100vh - 80px );
    display: flex;
}
#Spotify-logo{
    width: 80%;
    padding: 20px 22px;
}
    nav {
    width: 200px;
    height: 100%;
    background-color: #000;
    color:#4f4f4f;;
}

nav ul  {
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
}
nav li{
    padding-top: 8px;
    font-size: 12px;
}
nav li:hover{
   color: white;
}

.fa-solid{
    font-size: 20px;
    padding-right:2px;
}
.fa-house{
    border-left: yellow 2px solid;
    padding-left: 20px;
    color: #d2d2d2;
}
.home{
    color: white;
}
.fa-magnifying-glass{
    padding-left: 22px;
    color: #4f4f4f;
}
.fa-lines-leaning{
    padding-left: 22px;
    color: #4f4f4f;
}
#playlist{
    padding: 0 22px;
}

#playlist li{
    padding-top: 15px;
}
#user{
    margin-top: 50px;
}
/* regole main */
main {
    position: relative;
    width: calc( 100% - 200px );
    height: 100%;
}

#upgrade { 
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 25px 10px;
    background-color: #080b12dc;
    text-align: right;
    z-index: 100;
}
button{
    color: white;
    background-color: #080b12dc;
    border-radius: 20px;
    padding: 10px 30px;
    border: 2px solid white;
}
button:hover{
    scale: 1.1;
}

#album {
    background-color: #141922;
    height: 100%;
    padding-top: 110px;
    overflow: auto;
}
/* album selection regole */
.album-action{
    display: flex;
    width: 100%;
}
.album-action ul{
    display: flex;
    list-style: none;
    color: #5e749b;
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
    flex-wrap: wrap;
  }
#lime-underline{
    border-bottom: 2px solid lime;
    color: #4f4f4f;
}
.album-action li:hover{
    color: white;
    text-decoration: none;
}
#lime-underline:hover{
    color: white;
    text-decoration: none;
}

.album-selection{
    padding-left: 20px;
}
.row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.song{
    width: calc(100%/6 - 20px);
}

#metal{
    width: 100%;
    position: relative;
}
#stranger{
    width: 100%;
}
#quiet{
    width: 100%;
}
#split{
    width: 100%;
}
#cure{
    width: 100%;
}
#sinister{
    width: 100%;
}
#metal:hover, 
#stranger:hover,
#quiet:hover,
#split:hover,
#cure:hover,
#sinister:hover,
#radar:hover,
#mix:hover,
#youg:hover,
#einaudi:hover{
    filter: opacity(0.5);
    background-color: #141922;
}

.img-song{
    padding: 20px 0;
}
.song-text{
    text-align: center;
    
}
/* regole created section */
.created-selection{
    padding-left: 20px;
}
.created-selection h2{ 
    color: white;
    font-size: 30px;
    padding-top: 80px;
}
.row-created{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.song-created{
    width: calc(100%/6 - 20px);
}

#radar{
    width: 100%;
}
#mix{
    width: 100%;

}

.img-song{
    padding: 20px 0;
}
.song-text{
    text-align: center;
    
}
#youg{
    border-radius: 50%;
    width: 100%;
}
#einaudi{
    border-radius: 50%;
    width: 100%;
}


/* regole Footer */
.footer-row{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #282828;

}
.footer-division{
    width:calc(100%/3 - 1px);
    display: flex;
    background-color: #282828;
    ;
}
.center{
    display: flex;
    justify-content: center;
}

.footer-left{
    padding: 20px;
    display: flex;
}
.right{
    display: flex;
    justify-content: flex-end;
}

.img-left{
    width: 40px;
}
.played-song{
    width: 100%;
}

.text-left{
    padding-top: 8px;
    padding-left: 5px;
    line-height: 12px;
}
.text-left span{
    font-size: 10px;
}

.left-simbol{
    display: flex;
    flex-wrap: wrap;
}
.fa-heart{
    padding: 15px 5px 15px 30px;
    color: #878787;
}

.fa-folder{
    padding: 15px 5px;
    color: #878787;
}
.fa-heart:hover,
.fa-folder:hover{
        color: white;
    }

.footer-center{
    padding: 20px;
    min-width: 400px;
}
.footer-center-action{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    justify-content: center;
}
.fa-circle-play{
    font-size: 20px;
}
.fa-circle-play:hover{
    cursor: pointer;
    scale: 1.2;
}
.played-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.time-start{
    padding-right: 10px;
    font-size: 12px;
    color: white;
}
.time-end{
    padding-left: 10px;
    font-size: 12px;
    color: white;
}
.time-start:hover, .time-end:hover{
    text-decoration: none;
    cursor: context-menu;
}

.line{
    display: flex;
    width: 100%;
}
#start{
    width: 20%;
    border: 2px solid #c1c1c1;
    height: 2px;}
#end{
    width: 80%;
    border: 2px solid #5a5a5a;
    height: 2px;


}

.footer-right{
    display: flex;
    min-width: 200px;
}

.footer-right-action{
    display: flex;
    gap: 10px;
    align-items: center
}
.line-vol{
    display: flex;
    width: 60%;
    align-items: center
}
.fa-bars, .fa-desktop, .fa-volume-high{
    font-size: 12px;
}
.fa-volume-high{
    padding-right: 5px;
}
#low{
    width: 20%;
    border: 2px solid #c1c1c1;
    height: 2px;

}
#loud{
    width: 80%;
    border: 2px solid #5a5a5a;
    height: 2px;
}


/* regole responsive */
/* md 878px */
@media screen and ( max-width:878px ) {
    .song{
        width: calc(100%/4 - 20px);
    }
    .song-created{
        width: calc(100%/4 - 20px);
    }
    .footer-center{
        display: block;
        min-width: 300px;
    }
}
/* s 639px */
@media screen and ( max-width:639px ) {
    .song{
        width: calc(100%/2 - 20px);
    }
    .song-created{
        width: calc(100%/2 - 20px);
    }
    .left-simbol{
        display: flex;
        flex-direction: column;
        padding:5px 20px;
    }
    .fa-heart{
        padding:0
    }
    
    .fa-folder{
        padding:0
    }
    

    .footer-center{
        padding: 20px;
        min-width: 200px;
    }
}
@media screen and ( max-width:535px ) {
    nav {
        display: none;
    }
    .nav-responsive{
        display: block;
        background-color: #000;
        width: 50px;
        height: 100%;
    }
    .fa-spotify{
        font-size: 25px;
        padding: 8px 15px;
    }
    main {
        position: relative;
        width: calc( 100% - 50px );
        height: 100%;
    }
    .fa-house, 
    .fa-magnifying-glass{
        padding: 8px 15px;
    }
    .fa-lines-leaning{
        padding: 8px 15px;
    }
    .fa-house{
        border: 0px;
    }
    .footer-center-action {
        display: flex;
        gap: 14px;
        padding-bottom: 10px;
        justify-content: center;
    }
    .footer-right {
        min-width: 160px;
    }
    #low {
        width: 20%;
    }
    #loud {
        width: 70%;
    }
    .footer-center{
        padding: 20px;
        min-width: 180px;
    }
    .footer-center-action{
        display: flex;
        gap: 13px;
        padding-bottom: 10px;
        justify-content: center;
    }



}































/* Debug */
/* #upgrade {
    border: yellow solid 3px;
}

#album {
    border: rgb(0, 255, 30) solid 3px
}

main {
    border: 2px solid violet;
}

footer>div {
    border: 1px dotted yellow;
    width: 200px;
} */
















